:root
{
    --background-primary-color : #1E1E1E;
    --background-secondary-color: #FFF;

    --text-color-primary : #FFF;
    --text-color-secondary: #1E1E1E;
    --text-color-active: #9563FF;
}
.home_container
{
    background-color: var(--background-primary-color);
    width: 100%;
    min-height: 100vh;
    /* padding-left:10px; */
}
.banner_container
{
    background-color: var(--background-primary-color);
    color: var(--text-color-primary);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-content: stretch;
    flex: 1 1 0px;
}
.banner_container > div
{
    /* display: flex; */
    flex: 1;
    align-content: center;
    justify-content: center;
}
.banner_left{
    display: flex;
    align-items: center;
    padding: 20px;
}
.banner_left > div {
    margin-bottom: 50px;
}
.banner_title1{
    font-size: 32px;
}
.banner_title2
{
    color: var(--text-color-active);
    font-size: 42px;
    font-weight: 600;
}
.banner_title3{
    font-size: 14;
}

.banner_right{
    display: flex;
    align-items: center;
}
.banner_right > img
{
    /* position: absolute; */
    /* top:50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    height: 500px;
    animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.pulsing_cursor{
    animation : bulaga 1s ease infinite;
}
@keyframes bulaga {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media screen and (max-width: 780px)
{
    .banner_right
    {
        position: absolute !important;
        /* background-color: red; */
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    .banner_left{
        z-index: 1000;
    }
}